* {
    box-sizing: border-box;
  }
  
  
  html,body {
    min-width: 1080px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
  }


  .bg-img{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../media/gifs/cyber_background.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-img::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px) brightness(0.5); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
  }
  
  .content{
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left: 50PX;
    padding: 0, 10px, 0, 10px;
  }

  .pageTitle {
    color: white;
    font-weight: bold;
  }
  
  .list-item {
    float: left;
    padding-left: 50px;
  }

  .embedContainer {
    width:max-content;
    color: white;
    background-color: black;
    border: 1px white solid;
    border-radius: 14px;
  }

  .embedTitle {
    padding-left: 20px;
    padding-top: 10px;
  }

.embedMenu{
  display: flex;
  flex-basis: auto;
}

.embedNav{
  display: flex
}

.navLink{
  padding-right: 3rem;
  padding-left: 3rem;
}

a {
  color: white;
}
a:link { text-decoration: none;}
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


.carousel-item-title {
  padding-left: 50px;
}
























  #emptyProject{
    margin: 1rem auto;
    width: 30rem;
    text-align: center;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    background: #55185f;
    color: black;
  }
  
  .visible,
  .hidden {
    overflow: hidden;
  }
  
  .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }
  
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 1s linear;
  }
  
  .hidden > div {
    margin-top: -1000px;
    transition: margin-top 0s 1s;
  }
  
  img.emptyP-gif {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: auto;
  }
  
  .whoRU {
    margin-top: 100px;
  }
  
  .input {
    background-color: black;
    border: 0;
    outline: none;
    color: white;
  }
  
  #sayHiBtn {
    background-color: #FAF0E6;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 50px;
    width: 50px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 75%;
  }
  
  #sayHiBtn:active {
    background-color: black;
    box-shadow: 0 0 10px white;
    transform: translateY(2px);
  }
  
  
  